{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row app-head">
        <div class=" text-white col-sm-4 col-6">项目详细信息</div>
        <div class="col-6"></div>
        <div class="dropdown col-1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-expanded="false">
                设置
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/add">新增设备</a>
                <a class="dropdown-item" href="#">删除设备</a>
                <a class="dropdown-item" href="#">控制逻辑</a>
            </div>
        </div>
        <div class="content" style="margin-top: 1rem;">
            <div>
                <table class="table table-hover" style="width: 750px;">
                    <thead>
                        <tr>
                            <th scope="col">设备名称</th>
                            <th scope="col">设备号</th>
                            <th scope="col">当前状态</th>
                            <th scope="col">端口号</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for app_relation in result %}
                        <tr>
                            <th scope="row">{{app_relation.s_name}}</th>
                            <td>{{app_relation.sno}}</td>
                            <td><a href="/equipment/{{app_relation.sid}}">查看详细</a></td>
                            <td>{{app_relation.port}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}