{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row app-head">
        <div class=" col-sm4 col-6 text-white">控制器详情</div>
        <div class=" col-sm4 col-6 text-right text-white">当前项目为:{{app.app_name}}</div>
    </div>
</div>
<div class="content" style="width: 100%;">
    <div>
        <table class="table table-hover" style="width: 750px;">
            <thead>
            <tr>
                <th scope="col">设备名称</th>
                <th scope="col">设备类别</th>
                <th scope="col">当前状态</th>
                <th scope="col">接入端口</th>
            </tr>
            </thead>
            <tbody>
            {% for app_relation in result %} <!-- 循环将设备输出 -->
            <tr>
                <th scope="row">{{app_relation.s_name}}</th>
                <td>{{app_relation.kind}}</td>
                <td><a href="/controls/{{app_relation.sid}}">查看详细</a></td>
                <td>{{app_relation.port}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}