{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="/js/app.js"></script>


<div class="app-head text-white col-sm-12 col-12">新增项目</div>
<div class="content" style="width: 100%;margin: 1rem;">
    <div>
        <div class="form-group row">
            <label class="col-2">&nbsp;&nbsp;项目名称：</label>
            <input type="text" class="form-control col-7" id="app_name" />
        </div>
        <div>
            <input class="btn btn-secondary" type="submit" value="取消">
            <input class="btn btn-primary" type="submit" value="提交" onclick="app_add(null)">
        </div>
    </div>
</div>
{% endblock %}