{% extends 'base.html' %}
{% block content %}
<div class="app-head text-white col-sm-12 col-12">添加设备</div>
<div class="content" style="width: 100%;margin: 1rem;">
    <div>
        <div class="form-group row">
            <label class="col-2">&nbsp;&nbsp;设备名称：</label>
            <input type="text" class="form-control col-7" name="a_name"/>
        </div>
        <div class="form-group row">
            <label class="col-2">&nbsp;&nbsp;设备号：</label>
            <input type="text" class="form-control col-7"/>
        </div>
        <div class="form-group row">
            <label class="col-2">&nbsp;&nbsp;端口号：</label>
            <input type="text" class="form-control col-7"/>
        </div>
        <div class="form-group row">
            <label class="col-2">&nbsp;&nbsp;设备类型：</label>
            <select name="type">
                <option value="temp">采集温度</option>
                <option value="press">采集压力</option>
                <option value="light">采集光照</option>
                <option value="control">控制器</option>
            </select>
        </div>
        <div>
            <input type="submit" value="取消">
            <input type="submit" value="提交">
        </div>
    </div>
</div>
{% endblock %}