{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row app-head">
        <div class=" text-white col-sm-12 col-12">设备详细信息</div>
        <div class="content" style="margin-top: 1rem;">
            <div class="form-group row" style="width: 750px">
                <label class="col-4 ">&nbsp;&nbsp;设备名称：</label>
                <!-- <input type="text" class="form-control col-4" name="a_name" value="{{app_info.s_name}}"/> -->
                {{app_info.s_name}}
            </div>
            <div class="form-group row" style="width: 750px">
                <label class="col-4 ">&nbsp;&nbsp;设备号：</label>
                {{app_info.sno}}
            </div>
            <div class="form-group row" style="width: 750px">
                <label class="col-4 ">&nbsp;&nbsp;设备类型：</label>
                {{app_info.tid}}
            </div>
            <div class="form-group row" style="width: 750px">
                <label class="col-4 ">&nbsp;&nbsp;当前状态：</label>
                {{row.value}}
            </div>
            <div class="form-group row" style="width: 750px">
                <label class="col-4 ">&nbsp;&nbsp;端口：</label>
                {{app_info.port}}
            </div>
        </div>
    </div>
</div>
{% endblock %}